<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <% include ../templates/default.ejs%>
</head>
<body>
    <% include ../templates/nav.ejs%>
</body>
    <h1>Página de panel</h1>

    <% if (isAuthenticated) { %>
    <p>Hola <%= user.nombre %></p>
    <% } %>
</html>