<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <% include ../templates/default.ejs%>
</head>
<body>
    <% include ../templates/nav.ejs %>
    <div class="container">
        <div class="col-md-6 mx-auto">
            <div class="card mt-5">
                <div class="card-body">
                    <h1 class="text-center">
                        <span class="fa fa-user"></span> Iniciar Sesion
                    </h1>
                    <!-- form -->
                    <% if(message.length > 0){ %>
                    <div class="alert alert-success">
                        <%= message %>
                    </div>
                    <% } %>
                    <form action="http://localhost:3000/auth/signin" method="post">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" name="username" id="email" placeholder="Email" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" name="password" id="password" placeholder="Password" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-success btn-lg">Iniciar Sesion</button>
                    </form>
                    <% if(authmessage.length > 0){ %>
                    <div class="alert alert-danger">
                    <%= authmessage %>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</body>
</html>